@charset "UTF-8";

/* 회원가입 */

.myPageFormDiv{
	margin: 0 auto;
	width: 650px;
	height: 1000px;
	border: solid 1px #777;
}

.inputBox{
	margin: 0 auto;
	padding: 15px;
	width: 500px;
	height: 40px;
}

.inputBox label{
	font-weight: bold;
	margin-bottom: 7px;
}

.inputBox input{
	display: block;
	width: 500px;
	height: 40px;
}

.inputBox select{
	display: block;
	width: 500px;
	height: 40px;
}

/* 라디오버튼 분리 */

.inputBoxRadio{
	margin: 0 auto;
	padding-top: 25px;
	width: 500px;
	height: 30px;
}

.inputBoxRadio label{
	font-weight: bold;
	margin-bottom: 7px;
}
.inputBoxRadio input{
	width: 20px;
	height: 20px;
}


/* 라디오버튼 분리 */

.checkBox {
	float: left;
	margin: 20px 0;
}

.register-find{
	float: right;
	margin: 20px 0;
	color : #777;
}