table {
	border-collapse: collapse;
	border: 3px solid black;
	width: 90%;
	margin-left: 30px;
	margin-top: 20px;
}

th {
	border-bottom: 2px solid black;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background-color: RGB(225, 230, 242);
}

td {
	padding: 5px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding-left: 5px;
	background-color: white;
}