@charset "UTF-8";

/* 로그인 */

.loginFormDiv{
	margin: 0 auto;
	width: 560px;
	height: 500px;
	border: solid 1px #777;
	background-color: white;
}

.inputBox{
	margin: 0 auto;
	width: 500px;
	height: 130px; 
	border-top : solid 2px black;
	border-bottom : solid 2px black;
}

.inputBox input{
	display: block;
	margin-top: 15px;
	width: 500px;
	height: 40px;
}

.checkBox {
	float: left;
	margin: 20px 0;
}

.register-find{
	float: right;
	margin: 20px 0;
	color : #777;
}